body, div {
@import 'color';
@import 'menu';
@import 'view';

body, div, p, form, h1, h2, h3, h4, h5, h6,
form, button, textarea, input {
  margin: 0;
  padding: 0;
}

.react-app {
  display: flex;
  min-height: 100vh;
}
