.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $main-color;
  width: 100px;
  min-height: 100vh;

  a {
    color: $white;
  }
}
